{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid d-flex align-items-center">
        <div class="row col-md-6">
            <h1 class="mt-5 ml-5">Stations de vélo à toulouse</h1>
        </div>
        <div class="row col-md-6">
            {% include 'home/partials/_form.html.twig' %}
            <div class="mx-auto">
                <p>Basculez vers l'affichage</p>
                <div class="d-flex justify-content-around">
                    <button id="listeStation"><i class="far fa-id-card mr-2"></i>Liste</button>
                    <button id="mapStation"><i class="fas fa-map-marked-alt mr-2"></i>Map</button>
                </div>
            </div>
        </div>
    </div>

    <section id="liste" class="container">
        <div class="row">
            {% for station in stations %}
                <div class="col-md-4 p-5">
                    <div class="card js-marker" data-lat="{{ station.lat }}" data-lng="{{ station.lng }}" data-numstation="{{ station.numStation }}" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark">{{ station.nom }}</li>
                            <li class="list-group-item"><i class="fas fa-road mr-2"></i>{{ station.street }}</li>
                            <li class="list-group-item"><i class="fas fa-id-card mr-2"></i>{{ station.numStation }}</li>
                            <li class="list-group-item"><i class="fas fa-parking mr-2"></i>{{ station.nbBornettes }}</li>
                        </ul>
                        {% if station.enService == true %}
                            {% set color = 'green' %}
                        {% else %}
                            {% set color = 'red' %}
                        {% endif %}
                        <i class="fas fa-circle {{ color }}"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="map" id="map"></div>

{% endblock %}
