<div class="container-fluid my-4">

    <div class="row mt-5 ml-5">
        <div class="col-12">
            <form action="{{ path('search_station') }}" method="GET">
                <div class="input-group mb-3" style="width: 75%;">
                    <input type="text" class="form-control" name="stationSearch" placeholder="Rechercher une station..." aria-label="Rechercher une station..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>