* {
    margin: 0;
    padding: 0;
}
.container-custom{
    margin-right: 200px;
    margin-left: 200px;
}
body{
    background-color: cadetblue;
}
.bg-dark{
    background-color: #565656;
    color: white;
    font-size: 15px;
}

.card{
    box-shadow: 0 0 15px 0 #000000;
    position: relative;
}

#map{
    height: 500px;
}

.marker {
    height: 40px;
    border-radius: 50%;
    background-color: #3498db;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.fa-circle{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
}

.green{
    color: greenyellow;
}

.red{
    color: red;
}

.list-group-item:last-child {
    border-bottom: none;
}

.fa-id-card,
.fa-map-marked-alt{
    color: #222222;
}