<form method="post" action="{{ path('station_delete', {'id': station.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ station.id) }}">
    <button class="btn">Delete</button>
</form>
