{% extends 'base.html.twig' %}

{% block title %}Edit Station{% endblock %}

{% block body %}
    <h1>Edit Station</h1>

    {{ include('station/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('station_liste') }}">back to list</a>

    {{ include('station/_delete_form.html.twig') }}
{% endblock %}
