{% extends 'base.html.twig' %}

{% block title %}Station index{% endblock %}

{% block body %}
    <h1>Station index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>GeoPoint2d</th>
            <th>GeoShape</th>
            <th>Nom</th>
            <th>NumStation</th>
            <th>NbBornettes</th>
            <th>EnService</th>
            <th>Street</th>
            <th>MotDirecteur</th>
            <th>No</th>
            <th>Nrivoli</th>
            <th>Commune</th>
            <th>CodeInsee</th>
            <th>Location2016</th>
            <th>Location2019</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <td>{{ station.id }}</td>
                <td>{{ station.geoPoint2d }}</td>
                <td>{{ station.geoShape }}</td>
                <td>{{ station.nom }}</td>
                <td>{{ station.numStation }}</td>
                <td>{{ station.nbBornettes }}</td>
                <td>{{ station.enService ? 'Yes' : 'No' }}</td>
                <td>{{ station.street }}</td>
                <td>{{ station.motDirecteur }}</td>
                <td>{{ station.no }}</td>
                <td>{{ station.nrivoli }}</td>
                <td>{{ station.commune }}</td>
                <td>{{ station.codeInsee }}</td>
                <td>{{ station.location2016 }}</td>
                <td>{{ station.location2019 }}</td>
                <td>
                    <a href="{{ path('station_show', {'id': station.id}) }}">show</a>
                    <a href="{{ path('station_edit', {'id': station.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('station_new') }}">Create new</a>
{% endblock %}
