{% extends 'base.html.twig' %}

{% block title %}Station{% endblock %}

{% block body %}
    <h1>Station</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ station.id }}</td>
            </tr>
            <tr>
                <th>GeoPoint2d</th>
                <td>{{ station.geoPoint2d }}</td>
            </tr>
            <tr>
                <th>GeoShape</th>
                <td>{{ station.geoShape }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ station.nom }}</td>
            </tr>
            <tr>
                <th>NumStation</th>
                <td>{{ station.numStation }}</td>
            </tr>
            <tr>
                <th>NbBornettes</th>
                <td>{{ station.nbBornettes }}</td>
            </tr>
            <tr>
                <th>EnService</th>
                <td>{{ station.enService ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ station.street }}</td>
            </tr>
            <tr>
                <th>MotDirecteur</th>
                <td>{{ station.motDirecteur }}</td>
            </tr>
            <tr>
                <th>No</th>
                <td>{{ station.no }}</td>
            </tr>
            <tr>
                <th>Nrivoli</th>
                <td>{{ station.nrivoli }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ station.commune }}</td>
            </tr>
            <tr>
                <th>CodeInsee</th>
                <td>{{ station.codeInsee }}</td>
            </tr>
            <tr>
                <th>Location2016</th>
                <td>{{ station.location2016 }}</td>
            </tr>
            <tr>
                <th>Location2019</th>
                <td>{{ station.location2019 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('station_liste') }}">back to list</a>

    <a href="{{ path('station_edit', {'id': station.id}) }}">edit</a>

    {{ include('station/_delete_form.html.twig') }}
{% endblock %}
